
<div class="container">
    <div class="header">

    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID </th>
                <th>Emp Name </th>
                <th>Salary </th>
                <th>Designation </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of employeeService.employees">
                <td>{{i.empId}}</td>
                <td>{{i.name}}</td>
                <td>{{i.salaray}}</td>
                <td>{{i.designation}}</td>
            </tr>
        </tbody>
    </table>
</div>