/* You can add global styles to this file, and also import other style files */
.img-fluid{
    height: 23px;
    width: 23px;
    border-radius: 20%;
}
.body{
    background-color: black;
    padding: 10px;
    color: white;
}
.card{
    box-shadow: inset 0px 0px 12px 7px grey;
}