<div class="container homCompo">
    <div class="row">
        <h1>Home Componenet</h1>

        <div class="col-sm">
            <a href="../login/login.component.html" role="button" class="btn btn-outline-dark btn-lg btn-block text-center"> 
                <span>
                    <i class="fa fa-sign-in fa-1x">
                        Sign In
                    </i>
                </span>
            </a>
        </div>
        <!-- second -->
        <div class="col-sm">
            <a href="../news/news.component.html" role="button" class="btn btn-outline-dark btn-lg btn-block text-center"> 
                <span>
                    <i class="fa fa-dashboard fa-1x">
                        News
                    </i>
                </span>
            </a>
        </div>

    </div>
</div>